<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nivaldoBondanca.challenges30day" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nivaldoBondanca.challenges30day.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.nivaldoBondanca.challenges30day.ChallengeContentProvider"
            android:authorities="com.nivaldoBondanca.chalenges30day.content"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
